body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: clip;
}

section {
  max-width: 100%;
  overflow-x: clip;
}

.hero {
  /*background: url("../images/IMG_1953.jpg") no-repeat center center;*/
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* optional */
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  /*padding: 0 1rem;*/
}

a:link {
  text-decoration: none;
}

.professional-hero {
  /*background: url("../images/Red3.jpg") no-repeat center center;*/

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* wrapper hides overflow */
.slide-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
}

/* initial off-screen state */
.slide-content {
  transform: translateX(-120%);
  /* fully off-screen left */
  opacity: 0;
  transition: transform 0.7s cubic-bezier(.22, .9, .36, 1), opacity 0.5s ease;
  will-change: transform, opacity;
}

/* visible state */
.slide-content-active {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 640px) {
  .bio-image img {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 640px) {
  .professional-hero {
    background-size: contain;
    /* or 'cover', depending on your preference */
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
}
